/* temples-large.css */
@media (min-width: 768px) {
    #menu { display: none; } /* Hide hamburger */

    .navigation {
        display: flex !important; /* Show horizontal menu */
        justify-content: center;
        background-color: #333;
    }

    .navigation li { flex: 1 1 auto; max-width: 150px; }

    .res-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
}